/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
//header styles
.header__body {
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(27, 255, 225, 0.2);
  .header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .header__logo {
    height: 250px;
    width: 250px;
    padding: 5px;
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  }
  .header__teamName {
    align-self: center;
    padding: 10px;
    margin-left: 100px;
    font-size: 50px;
  }
  .header__teamSlogan {
    align-self: flex-end;
    padding: 10px;
  }
  .header__menu {
    padding: 10px;
    background-color: rgba(27, 255, 225, 1);
    .header__list {
      margin: 0 auto;
      max-width: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .header__menu-link {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 10px 100px;
    color: white;
    background-color: rgba(27, 255, 225, 0.2);
    font-size: 25px;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

/*USER CARD*/

* {
  margin: 0;
  padding: 0;
}

.userCard {
  margin: 40px 0 40px 0;
}

.userCard__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.userCard__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.userCard__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border: 2px solid #cacaca;
  border-radius: 16px;
  position: relative;
  padding: 15px 45px 15px 45px;
  margin-top: 50px;
  overflow: hidden;
  transition: all 0.3s;
}

.userCard__item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-color: #fff;
}

.userCard__edit {
  width: 17px;
  height: 17px;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.3s all;
}

.userCard__edit:hover {
  opacity: 1;
  transform: scale(1.1);
}

.userCard__photoDev {
  width: 165px;
  height: 165px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.userCard__photoDev img {
  width: 100%;
}

.userCard__name {
  text-align: center;
  font-size: 24px;
  color: #747474;
  margin: 15px 0 20px 0;
}

.userCard__line {
  width: 100%;
  height: 1px;
  background-color: #e3e1e1;
}

.userCard__title {
  font-size: 18px;
  color: #747474;
  margin: 25px 0 20px 0;
}

.userCard__info {
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
}

/* Modal form  */

.form-user {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s;

  &-active {
    transform: translateX(0%);
  }


  &__name {
    padding: 0;
    font-size: 16px;
  }

  &__title {
    color: #747474;
    margin: 15px 0 5px 0;
  }

  &__descr {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 15px 0 5px 0;
  }

  &_input {
    padding: 5px;
  }

  &__hobbie {
    width: 100%;
  }

  &__btn {
    margin: 15px 0 0 0;
  }

  &__change {
    padding: 5px;
    margin: 0;
    border: none;
  }

  &__cancel {
    padding: 5px;
    margin: 0;
    background-color: #747474;
    color: #fff;
    border: none;
  }
}

.blockOpacity{
  opacity: 1;
}

footer {
  text-align: center;
  background-color: rgba(27, 255, 225, 1);
  padding: 5px;
  .footer {
    /* Фиксированное положение */
    width: 100%;
    text-align: center;
  }
  .footer_text {
    font-size: 22px;
    color: #000;
    letter-spacing: 1px;
    transition: 0.4s;
    margin-top: 20px;
  }
  .footer_text:hover {
    color: #000;
    text-decoration: none;
    padding-top: 4px;
    font-weight: 700;
  }
  .social-icons {
    text-align: center;
  }
  .social-icons li {
    display: inline-block;
    list-style-type: none;
  }
  .social-icons li a {
    border-bottom: none;
  }
  .social-icons li img {
    margin-right: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
  }
}
  /* Polina styles */
  .carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    width: 800px;
  }

  .carousel__images {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
  }
  img {
    border-radius: 5px;
  }

  .carousel__button {
    background: hotpink;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
  }

  #previous {
    left: 5px;
  }

  #next {
    right: 5px;
  }

  .carousel__button:hover {
    opacity: 0.8;
  }

  .main-info {
    width: 100%;
    text-align: center;
    background-color: rgba(27, 255, 225, 0.2);
    margin: 0 auto;
    .text {
      height: 100%;
      font-size: 20px;
      padding: 10px;
      margin: 15px;
    }
  }

.animated-caption {
  height: 100%;
  padding: 40px;
  font-size: 70px;
  user-select: none;
  color: black;
}

  .animated-caption:hover {
    user-select: none;
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
            rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 10s linear infinite forwards;
  }

@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}

.gone{
  opacity: 0.3;
  background-color: rgba(0, 0, 0, 0.418);
}